{% set SITENAME = article.title -%} {% set DESCRIPTION = article.summary -%} {%
import 'translations.html' as translations with context %} {% extends
"base.html" %} {% block content %} {% if "clean" in article.tags -%} {{
article.content }} {{ translations.translations_for(article, "footer") }} {%
else -%}

<div class="container my-2" {{ article.tags|itemscope|safe }}>
  <h1 class="entry-title text-dark text-center h1">{{ article.title }}</h1>
  {% if article.show_author is defined and article.show_author == True -%}
  <footer class="blockquote-footer text-center">
    published by
    <a href="{{ article.author.url }}">{{ article.author.name }}</a>
  </footer>
  {% endif -%}
  <hr class="text-center mt-0" />
  {% if "draft" in article.tags|items(attribute="name") -%}
  <div class="card card-sm my-2 hoverable">
    <!-- Card content -->
    <div class="card-body">
      <div class="media">
        <span
          class="card-img-fluid d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-4"
        >
          <img
            src="/theme/images/cat.svg"
            alt="Under Construction"
            class="img-fluid"
          />
        </span>
        <div class="media-body">
          <p
            class="font-weight-light text-muted mb-0"
            style="vertical-align: middle"
          >
            <strong>WIP</strong>: This article is draft as such it may contain
            errors. It may also need additional work.
          </p>
        </div>
      </div>
    </div>

    {% endif -%}
    <div id="content">{{ article.content }}</div>
  </div>
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-12">Tags:</div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% for tag in article.tags -%} {% if tag.name in ["hidden"] -%} {% else
        -%}
        <a
          href="{{ SITEURL + '/tag/{tag}.html'|format(tag=tag.name) }}"
          rel="tag"
          class="badge rounded-pill bg-dark p-2"
          ><i class="fas fa-hashtag" aria-hidden="true"></i> {{ tag.name }}
        </a>
        {% endif -%} {% endfor -%}
      </div>
    </div>
    <div class="invisible" itemtype="keywords">
      {{ tags|items(0, "name")|join(",") }}
    </div>
  </div>
  {% endif -%}
</div>
{% endblock %} {% block _head -%} {% for tag in article.tags -%}
<meta property="og:article:tag" content="{{ tag }}" />
{% endfor -%} {{ translations.translations_for(article, "footer") }} {% endblock
-%}
