<!DOCTYPE html>
<html lang="{{ _('en') }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Seminar - {{ SITENAME }}{% endblock title %}</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link
      rel="canonical"
      href="https:/seminar-informatik-20.gitlab.io/website/"
    />
    <meta name="theme-color" content="#212121" />
    <meta property="og:image" content="/theme/images/brand.png" />
    <meta property="og:image:secure" content="/theme/images/brand.png" />
    <meta
      property="og:site_name"
      content="{{ _('Andreas-Tag Computer Science Seminar 2020') }}"
    />
    <meta property="og:title" content="{{ SITENAME }}" />
    <meta property="og:locale" content="{{ _('en_US') }}" id="locale" />

    <!-- theme/images/favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL|neutral }}/theme/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL|neutral }}/theme/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="{{ SITEURL|neutral }}/theme/images/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ SITEURL|neutral }}/theme/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL|neutral }}/theme/images/favicon-16x16.png">
    <link rel="manifest" href="{{ SITEURL|neutral }}/theme/images/site.webmanifest">
    <link rel="mask-icon" href="{{ SITEURL|neutral }}/theme/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ SITEURL|neutral }}/theme/images/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Seminar - {{ SITENAME }}">
    <meta name="application-name" content="Seminar">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="{{ SITEURL|neutral }}/theme/images/browserconfig.xml">
    <meta name="theme-color" content="#000000">

    <!-- Page specific metadata -->
    {% if LANG is defined -%}
    <meta name="lang" content="{{ LANG }}" />
    {% endif -%} {% if DESCRIPTION is defined -%}
    <meta name="description" content="{{ DESCRIPTION|clean }}" />
    <meta property="og:description" content="{{ DESCRIPTION|clean }}" />
    {% endif -%} {% if TYPE is defined -%}
    <meta property="og:type" content="{{ TYPE }}" />
    {% if TYPE == "article" -%}
    <meta property="article:section" content="Technology" />
    {% endif -%} {% endif -%} {% block _head -%}{% endblock -%}
  </head>
  <body>
    <!-- Navbar -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark z-index-1">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand nav-link" href="{{ SITEURL|neutral }}/">
          <img
            src="{{ SITEURL|neutral }}/theme/images/brand.svg"
            height="30"
            loading="lazy"
            alt="{{ _('Computer Science Seminar Brand') }}"
          />
          {{ _("Seminar 20") }}
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            {% for title, link in MENUITEMS %}
            <li
              class="nav-item {% if ACTIVE_TITLE is defined and title == ACTIVE_TITLE -%}active{% endif -%}"
            >
              <a class="nav-link" {% if ACTIVE_TITLE is defined and title == ACTIVE_TITLE -%}aria-current="page"{% endif -%} href="{{ SITEURL|neutral }}{{ link }}" >
              {{ title }}
              </a> 
            </li>
            {% endfor -%}
          </ul>
        </div>
      </div>
    </nav>
    <!-- #Navbar -->

    <!-- Content -->
    <div id="body" style="min-height: 100vh">
      {% block content_title %} {% endblock %} {% block content %} {% endblock
      content %}
    </div>
    <!-- #Content -->

    <!-- Footer -->
    <footer
      id="footer"
      class="page-footer mt-3 font-small bg-dark text-white w-100"
    >
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2020 Copyright
        <a href="https://gitlab.com/seminar-informatik-20" class="copyright">
          The Seminar Team
          </a>
                <span id="footer-advanced"></span>

      </div>
      <!-- #Copyright -->
    </footer>
    <!-- #Footer -->
    <div id="modal-extension"></div>
  </body>

  <!-- CSS -->
  <link href="{{ SITEURL|neutral }}/theme/fonts/fonts.css" rel="stylesheet" />
  <link
    href="{{ SITEURL|neutral }}/theme/fontawesome-free-5.14.0-web/css/all.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="{{ SITEURL|neutral }}/theme/css/mdb.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="{{ SITEURL|neutral }}/theme/css/pygment.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="{{ SITEURL|neutral }}/theme/css/style.min.css"
    rel="stylesheet"
    type="text/css"
  />

  <!-- JS -->
  <script
    src="{{ SITEURL|neutral }}/theme/js/mdb.min.js"
    type="text/javascript"
  ></script>
  <script
    src="{{ SITEURL|neutral }}/theme/js/language-detection.min.js"
    type="text/javascript"
  ></script>
</html>
