{% set DESCRIPTION = _("Website for the computer science seminar: 'Web
development with python' 2020") -%} {% set TYPE = "website" -%} {% set SITENAME
= _("Landing Page") -%} {% extends "base.html" %} {% block content %}
<div
  class="container w-80 mt-5 mx-auto"
  itemscope
  itemtype="https://schema.org/SearchResultsPage"
>
  <section class="dark-grey-text">
    <div class="text-center">
      <h1 class="h1 text-dark" id="title" itemtype="headline">
        {{ _("Welcome to our seminar!") }}
      </h1>
      <hr />
      <div class="container" itemprop="mainContentOfPage">
        {{ _(""" The seminar will give you a brief introduction in modern web
        devlopment with python and pallet's flask. We will also teach you the
        basics of the modern web and how different services and interfaces
        interact to deliver you the seamless interactive web as you know it
        today. At the end of the seminar you will be able to utilise flask for
        your own project while creating 'beautiful' webpages with jinja2. """)
        }}
      </div>
      <div class="btn-group mt-2">
        <a
          class="btn btn-lg btn-dark"
          itemprop="significantLink"
          id="contact"
          href="{{ SITEURL|neutral }}/pages/contact/"
        >
          <i class="fab fa-gitlab pr-1"></i> Gitlab
        </a>
        <a
          class="btn btn-lg btn-dark"
          itemprop="significantLink"
          id="projects"
          href="{{ SITEURL|neutral }}/pages/projects/"
        >
          <i class="fas fa-project-diagram pr-1"></i> {{ _("Projects") }}
        </a>
      </div>
    </div>
  </section>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const Footer = document.getElementById('footer-advanced');
      const current_lang = document
        .querySelector("meta[property='og:locale']")
        .getAttribute('content');
      const lang = current_lang == 'de_DE' ? '' : 'de';
      const lang_show = lang == 'de' ? 'DE' : 'EN';
      Footer.classList.add('btn-group');
      Footer.setAttribute('role', 'group');
      Footer.innerHTML += `<a href="/${lang}" class="btn btn-sm btn-outline-white elegant-color white-text my-0 mx-1" hreflang="${lang_show}"><i class="fas fa-language"></i> ${lang_show}</a>`;
    });
  </script>
</div>

{% endblock content %}
