{% macro render_article(article, type="card") -%}
  {% if type == "pagination" -%}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">by {{ article.author }}</h6>
        <a href="{{ SITEURL|neutral }}/article/{{ article.slug }}" class="card-link btn btn-primary">{{ _("See more") }}</a>
      </div>
    </div>
  {% endif -%}
{% endmacro -%}

{% macro render_tag(tag, type="simple-btn") -%}
  {% if type == "siple-btn" -%}
    <button type="button" class="btn btn-primary" href="{{ SITEURL|neutral }}/tag/{{ tag.slug }}.html">{{ tag.name}}</button>
  {% elif type == "pagination" -%}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ tag.name }}</h5>
      <p class="card-text">{{ kwargs["articles"]|length }} {{ _("articles") }}</p>
      <a class="btn-primary text-muted" href="{{ SITEURL|neutral }}/tag/{{ tag.slug }}" class="card-link">{{ tag.name }}</a>
    </div>
  </div>
  {% endif -%}
{% endmacro -%}

{% macro render_pagination(pagination, render_macro, render_bar=True, layout="simple", per_page=None) -%}
  {% if layout == "simple" -%}
    {% for item in pagination.items -%}
      {{ render_macro(item, type="pagination") }}
    {% endfor -%}
  {% elif layout == "card" -%}
    <!-- Card pagination object -->
  {% endif -%}
  {% if render_bar == True -%}
    <!-- Render Bar with numbers etc. -->
  {% endif -%}
{% endmacro -%}


{% macro render_project(title, description, framework, icon, type, url, blog_url = None, blog_desc = None) -%}
<div class="col">
  <div class="card w-100 text-white bg-dark mb-3">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
      <p class="card-text">
        {{ description }}
      </p>
      <p class="card-text text-white"><i class="{{ icon }}"></i> {{ framework }}</p>
      {% if blog_url != None -%} <div class="btn-group"> {% endif -%}
      {% if type == "github" -%}
        <!-- Github -->
        <a class="col-auto text-white btn btn-dark btn-git text-highlight" itemtype="relatedLink" href="{{ url }}"><i class="fab fa-github pr-1"></i> {{ title }}</a>    
      {% elif type == "gitlab" -%}
        <!-- Gitlab -->
        <a class="col-auto text-white btn btn-dark btn-git text-highlight" itemtype="relatedLink" href="{{ url }}"><i class="fab fa-gitlab pr-1"></i> {{ title }}</a>    
      {% endif -%}
      {% if blog_url != None -%} 
        <a class="col-auto btn btn-dark" itemtype="relatedLink" href="{{ SITEURL|neutral }}/{{ blog_url }}"><i class="far fa-newspaper"></i> {{ blog_desc }} </a>
      </div>
      {% endif -%}
    </div>
  </div>
</div>
{% endmacro -%}

{% macro render_btn(desc="", link="", icon="", id="", itemtype="", class="btn-dark elegant-color white-text") -%}
    <a class="btn {{ class }}" id="{{ id }}" {% if itemtype != "" -%} itemtype="{{ itemtype }}" {% endif -%} {% if link != "" -%} href="{{ link }}" {% endif -%}><i class="{{ icon }}"></i> {{ desc }} </a>
{% endmacro -%}


{% macro render_card(title, content, src="", links=[], elevation="z-depth-2", class="", type="normal", col="col") -%}
<div class="col">
  <div class="card w-100 text-white bg-dark mb-3">
    <div class="card-header"> {{ title }} </div>
    <div class="card-body">
      <p class="card-text">
        {{ content }}
      </p>
      
    {% if type == "normal" -%}
      {% if link != [] -%}
          {% for link, desc in links -%}
              <a href="{{ SITEURL|neutral }}/{{ link }}" class="card-link btn btn-sm btn-dark" itemtype="relatedLink">{{ desc }}</a>
          {% endfor -%}
      {% endif -%}   
    {% elif type == "article" -%}
          <a href="{{ links }}" class="card-link btn btn-sm btn-dark" itemtype="relatedLink">{{ _("Read More") }}</a>
    {% endif -%}
    </div>
  </div>
</div>
{% endmacro -%}