{% set SITENAME = "Articles and Tags" -%} {% from "macros.jinja" import
render_card -%} {% extends "base.html" %} {% block content %}
<div class="container text-center mt-3">
  <ul class="nav navbar-dark nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item list-unstyled">
      <a
        class="nav-link active list-unstyled"
        id="pills-articles-tab"
        data-toggle="pill"
        href="#pills-articles"
        role="presentation"
        aria-controls="pills-articles"
        aria-selected="true"
      >
        {{ _("articles") }}
      </a>
    </li>
    <li class="nav-item list-unstyled">
      <a
        class="nav-link bg-dark"
        id="pills-categories-tab"
        data-toggle="pill"
        href="#pills-categories"
        role="presentation"
        aria-controls="pills-categories"
        aria-selected="false"
      >
        {{ _("categories") }}
      </a>
    </li>
    <li class="nav-item list-unstyled">
      <a
        class="nav-link"
        id="pills-tags-tab"
        data-toggle="pill"
        href="#pills-tags"
        role="presentation"
        aria-controls="pills-tags"
        aria-selected="false"
      >
        {{ _("tags") }}
      </a>
    </li>
  </ul>

  <div class="tab-content pt-2 pl-1" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-articles"
      role="tabpanel"
      aria-labelledby="pills-articles-tab"
    >
      <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        {% for article in dates -%} {% if "hidden" in article.tags -%} {% else
        -%} {% set link = SITEURL + "/articles/" + article.category.slug + "/" +
        article.slug + "/" -%} {{ render_card(article.title, article.summary,
        links=link, type="article", class="card card-dark mx-auto my-1") }} {%
        endif -%} {% endfor -%}
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="pills-categories"
      role="tabpanel"
      aria-labelledby="pills-categories-tab"
    >
      <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        {% for category, articles in categories|sort %} {% set link = SITEURL +
        "/category/" + category.slug -%} {{ render_card(category, "contains
        {num} articles"|format(num=articles|count), links=link, type="article",
        class="col-md-12 card card-dark mx-auto my-1", col="col-md-12 w-80") }}
        {% endfor -%}
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="pills-tags"
      role="tabpanel"
      aria-labelledby="pills-tags-tab"
    >
      <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        {% for tag in tags|sort %} {% set link = SITEURL +
        "/tag/{tag}.html"|format(tag=tag[0].slug) -%} {% if tag[0].slug not in
        ["hidden", "draft"] -%} {{ render_card(tag[0].name, "contains {num}
        articles"|format(num=tag[1]|count), links=link, type="article",
        class="card card-dark", col="col-auto") }} {% endif -%} {% endfor -%}
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block javascript %}
<script
  src="{{ SITEURL|neutral }}/theme/static/js/articles-overview.min.js"
  type="text/javascript"
></script>
{% endblock javascript %}
