{% set SITENAME = page.title -%} {% set DESCRIPTION = page.summary -%} {% import
'translations.html' as translations with context %} {% extends "base.html" %} {%
block content %} {% if "clean" in page.tags -%} {{ page.content }} {% if
"trans-footer" in page.tags -%} {{ translations.translations_for(page, "footer")
}} {% endif -%} {% else -%}
<div class="container">
  {% if "headless" not in page.tags|items(attribute="name") -%}
  <h1 class="entry-title text-center h1">{{ page.title }}</h1>
  {% endif -%} {% if page.show_author is defined and page.show_author == True
  -%}
  <footer class="blockquote-footer text-center">
    published by <a href="{{ page.author.url }}">{{ page.author.name }}</a>
  </footer>
  {% endif -%}
  <hr class="text-center" />
  {% if PDF_PROCESSOR and pdf in page.tags %}<a
    href="{{ SITEURL|neutral }}/pdf/{{ page.slug }}.pdf"
    class="text-muted btn btn-dark"
    >get the pdf</a
  >{% endif %} {{ page.content }} {% if page.last_modified is defined-%}
  <p><small>Last modified {{ page.last_modified }}</small></p>
  {% endif -%}
</div>
{{ translations.translations_for(page, "footer") }} {% endif -%} {% endblock %}
