{% from "macros.jinja" import render_card -%} {% set SITENAME = tag.name -%} {%
extends "base.html" -%} {% block content -%}
<div
  class="container text-center mt-3"
  itemscope
  itemprop="https://schema.org/Product"
>
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1" itemprop="headline">#{{ tag.name }}</h1>
      <hr class="mt-0" />
    </div>
  </div>
  <div class="row" itemprop="mainContentOfPage">
    {% for article in articles -%} {% set link = SITEURL + "/articles/" +
    article.category.slug + "/" + article.slug + "/" -%} {{
    render_card(article.title, article.summary, links=link, type="article",
    col="col-md-12", class="card card-dark w-100") }} {% endfor -%}
  </div>
</div>
{% endblock content -%}
