{% macro translations_for(article, position) %} {% if article.translations %} {%
if position == "footer" -%}
<script>
  document.addEventListener("DOMContentLoaded", function () {
      const Footer = document.getElementById("footer-advanced");
      Footer.classList.add("btn-group");
      Footer.setAttribute("role", "group");
      {% for translation in article.translations -%}
      Footer.innerHTML += '<a href="{{ SITEURL|neutral }}/{{ translation.url }}" class="btn btn-sm btn-outline-white elegant-color white-text my-0 mx-1" hreflang="{{ translation.lang }}"><i class="fas fa-language"></i> {{ translation.lang }}</a>';
      {% endfor %}
  });
</script>
{% else -%} {% trans -%}Translations:{% endtrans -%}
<div class="btn-group" role="group" aria-label="Basic example">
  {% for translation in article.translations %} {% if translation.lang == None
  -%} {% set lang = "en" -%} {% else -%} {% set lang = translation.lang -%} {%
  endif -%}
  <a
    href="{{ SITEURL }}/{{ translation.url }}"
    class="btn btn-sm elegant-color white-text"
    hreflang="{{ lang }}"
    >{{ lang }}</a
  >
  {% endfor %}
</div>
{% endif -%} {% endif -%} {% endmacro %} {% macro entry_hreflang(entry) %} {% if
entry.translations %} {% for translation in entry.translations %}
<link
  rel="alternate"
  hreflang="{{ translation.lang }}"
  href="{{ SITEURL }}/{{ translation.url }}"
/>
{% endfor %} {% endif %} {% endmacro %}
