/*

Borrowed from cobalt.rocks
Under GPL v3.0 @ Cobalt <chaosthe0rie@pm.me>

*/

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

h1 {
  font-size: 2.25rem;
}

@media (min-width: 700px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 4.75rem;
  }
}

html {
  font-size: 100%;
}

hr {
  border-top: 1px solid #2e2e2e;
  margin-top: 0px;
}

.sub {
  list-style-type: lower-roman;
}

ul {
  overflow: hidden;
  list-style: circle;
}

ul > li {
  list-style: circle;
}

ul > li.nav-item {
  list-style-type: none !important;
}

ul > li > ul > li {
  list-style: none;
}

ul > li > ul > li:before {
  content: "-";
  margin-right: 0.3rem;
}

ol > li > ul > li {
  list-style: none;
}

ol > li > ul > li:before {
  content: "-";
  margin-right: 0.3rem;
}

table {
  border-spacing: 1rem;
  border-collapse: collapse;
  width: 100%;
}

tr > th {
  background-color: #2e2e2e !important;
  color: white;
  padding: 0.5em !important;
}

tr:hover {
  background-color: #f5f5f5;
}

td {
  padding: 0.5em !important;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.list-unstyled {
  list-style: none !important;
}

.list-unstyled > li:before {
  content: "";
  margin-left: 1rem;
}

.highlight {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1vh;
  padding: 0.5rem;
}

.highlight > pre {
  margin: 0rem !important;
}

blockquote > p {
  background: #f4f2ff;
  border-radius: 3px;
  border-left: 5px solid var(--bs-danger);
  margin: 2rem 0;
  margin-bottom: 0;
  padding: 1rem;
  margin-left: 1rem;
  font-family: monospace;
  display: block;
}

code {
  color: var(--bs-secondary);
  font-family: monospace;
}

div.elegant-color > .card-header {
  border-bottom: none !important;
}

[data-toggle="pill"] {
  color: hsla(0, 0%, 100%, 0.5) !important;
  background-color: #262626 !important;
}

.active[data-toggle="pill"],
[data-toggle="pill"]:hover {
  color: hsla(0, 0%, 100%, 0.75) !important;
}

a.badge,
a.copyright {
  color: hsla(0, 0%, 100%, 0.55);
}

a.badge:hover,
a.copyright:hover {
  color: hsla(0, 0%, 100%, 0.75);
}

.page-footer {
  position: relative;
  bottom: 0;
}
